

/* Home */

main {
    width: 100%;
    margin: 0 auto;
}

article,
aside {
    width: 45%;
    margin: 2.5%;
    float: left;
}

/* Resume */

.col-1,
.col-2,
.col-3 {
    width: 30%;
    margin: 1.6666%;
    float: left;
}

/* Contact */

h2 a {
    color: #c00;
}

input {
    display: block;
    margin: 1% 0;
}

textarea {
    margin: 2% 0 .5%;
}

.col-6 input {
    background: rgba(200,50,100,.5);
}

.col-5 {
    width: 15%;
 margin: 2.5%;
}


.col-6 {
    width: 60%;
    margin: 2.5%;
}

.col-5,
.col-6 {
    float: left;
}

main {
    width: 100%;
    margin: 0 auto;
}


/* GLOBAL */
header {
    background: #c00;
}


a {
    text-decoration: none;
}

nav a {
    color: #ddd;
}

nav a .selected,
nav a:hover {
    color: #000;
    transition: .5s all linear;
}

nav li{
    display: inline-block;
    margin: 15px 10px;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    border-radius: 7%;
}

h1 {
    color: #c00;
}

h3 {
    color: rgba(200,50,100,.5)
}

h2, h4 {
   color: rgba(0,0,0,.5);
}

/* Media Queries */

@media all (max-width: 800px){

    .col-1,
    .col-2,
    .col-3,
    .col-5,
    .col-6 {
    width: 90%;
    margin: auto;
    clear: both;
    }
    
}